body{
    margin: 0;
    background-color:honeydew;
}
header{
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: comic sans ms;
}

nav{
    overflow: hidden;
    background-color: violet;
}
    
    nav a{
        float: left;
        color:blue;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
}
    nav a:hover{
        background-color: black;
    }

.column{
    float: left;
    padding: 10px;
}    

.column.side{
    width: 22%;
}

.column.middle{
    width: 50%;
}

p{
    text-align: justify;
    text-align: center;
    color:orange;
}

h2{
    text-align: center;
    }

h3{
    text-align: center;
    color: solid brown;
        }

div.gallery{
    margin: 5px;
    border: 3px solid black;
    float: left;
    width: 200px;
}

div.gallery img{
    width: 200px;
    height: 200px;
}

div.gallery:hover{
    border: 3px solid red;

}
 

div.gallery.img{
    width: 100%;
    height: auto;
}


input[type=text], select, textarea{
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
}


input[type=email]{
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
}

input[type=date]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}   

input[type=radio]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}   



input[type=submit]{
        background-color: red;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        margin: 2px;


}


footer{
    clear: both;
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: comic sans ms;
}
